.content {
	width: calc(100% - ( #{$grid-gutter} * 2 ));
	max-width: $grid-width;
	margin-left: auto;
	margin-right: auto;

	&--full { width: 100%; }
}

.sm\:w-100 {
	@include bp($small, max) {
		width: 100%;
		overflow-x: hidden;
	}
}