.btn {
	@include button;

	// Large Buttons
	&-large {
		@include button($button-height-lg)
	}

	// Primary Buttons
	&-primary {
		@include button-theme($primary-brand-color);
	}

	// Secondary Buttons
	&-secondary {
		@include button-theme($secondary-brand-color);
	}

	// Tertiary Buttons
	&-tertiary {
		@include button-theme($tertiary-brand-color);
	}

	// White Buttons
	&-white {
		@include button-theme($white);
	}

	// Black Buttons
	&-black {
		@include button-theme($black);
	}

	// Pill Buttons
	&-pill {
		border-radius: 300px;
	}

}

.btn,
.btn-large {
	svg + span {
		display: block;
		margin-left: 0.625em;
	}
}