!.gitignore
!README.md

# NPM
node_modules
npm-debug.log

# composer
/vendor

# build
/assets/**/*

# generated directories
__packaged

# ftp
hostconfig.json

# generic
.DS_Store
.sass-cache
*.sublime*
!.gitkeep