// Generic Colour Values
$red:                    #9c363c;
$blue:                   #2c5a93;
$white:                  #fff;
$black:                  #231f20;
$yellow:                 #e1d148;
$green:                  #34a36a;
$orange:                 #e44e36;
$light-grey:             #eeeeee;
$light-grey-text:        #a0a0a0;

// Useful Brand Colours
$facebook-brand-color:    #3b5998;
$twitter-brand-color:     #55acee;
$instagram-brand-color:   #3f729b;
$whatsapp-brand-color:    #25D366;
$google-plus-brand-color: #dd4b39;
$pinterest-brand-color:   #bd081c;
$linkedin-brand-color:    #0077b5;
$vine-brand-color:        #00b489;
$tumblr-brand-color:      #35465d;
$youtube-brand-color:	  #ff0000;
$vimeo-brand-color:       #1ab7ea;
$skype-brand-color:       #00aff0;
$dribbble-brand-color:    #ea4c89;
$flick-brand-color-pink:  #f40083;
$flick-brand-color-blue:  #006add;

// Standard body text colour
$base-text-color:        darken($white, 75%);

// Brand Colours
$primary-brand-color:    #e72d3d;
$secondary-brand-color:  #cfa648;
$alt-brand-color:        #222;