@mixin icon($icon: null, $position: before, $padding: 0, $color: null, $set: null) {
	&:#{$position} {
		content: $icon;
		display: inline-block;
		color: $color;
		font: {
			family: $set;
			style: normal;
			weight: normal;
		}
		line-height: 1;
		text-decoration: inherit;
		-webkit-font-smoothing: antialiased;
		-moz-osx-font-smoothing: grayscale;

		@if $padding not 0 {
			@if $position == "before" {
				padding-right: $padding;
			} @elseif $position == "after" {
				padding-left: $padding;
			}
		}
	}
}