// -------------------------------------------------- //
// Widths
// -------------------------------------------------- //

.w-10 { width: 10%; }
.w-20 { width: 20%; }
.w-25 { width: 25%; }
.w-30 { width: 30%; }
.w-1\/3 { width: 33%; }
.w-40 { width: 40%; }
.w-50 { width: 50%; }
.w-60 { width: 60%; }
.w-2\/3 { width: 66%; }
.w-70 { width: 70%; }
.w-75 { width: 75%; }
.w-80 { width: 80%; }
.w-90 { width: 90%; }
.w-100 { width: 100%; }

// -------------------------------------------------- //
// Spacing
// -------------------------------------------------- //

.m-0 { margin: 0 !important; }
.p-0 { padding: 0 !important; }

.insulate {
	padding-top: 3rem;
	padding-bottom: 3rem;

	@include bp($large) {
		padding-top: 5rem;
		padding-bottom: 5rem;
	}

	@include bp($xlarge) {
		padding-top: 8rem;
		padding-bottom: 8rem;
	}

	@include bp(1600px) {
		padding-top: 11.25rem;
		padding-bottom: 11.25rem;
	}
}

.breathe {
	margin-top: 3rem;
	margin-bottom: 3rem;

	@include bp($large) {
		margin-top: 5rem;
		margin-bottom: 5rem;
	}

	@include bp($xlarge) {
		margin-top: 8rem;
		margin-bottom: 8rem;
	}

	@include bp(1600px) {
		margin-top: 11.25rem;
		margin-bottom: 11.25rem;
	}
}