// -------------------------------------------------- //
// Backgrounds
// -------------------------------------------------- //

.bg-primary { background-color: $primary-brand-color; }
.bg-secondary { background-color: $secondary-brand-color; }
.bg-tertiary { background-color: $tertiary-brand-color; }
.bg-white { background-color: $white; }
.bg-info { background-color: #e4eeff; }

// -------------------------------------------------- //
// Text colors
// -------------------------------------------------- //

.color-primary { color: $primary-brand-color; }
.color-secondary { color: $secondary-brand-color; }
.color-tertiary { color: $tertiary-brand-color; }
.color-white { color: $white; }