// -------------------------------------------------- //
// Backgrounds
// -------------------------------------------------- //

.t-bg-primary { background-color: $primary-brand-color; }
.t-bg-secondary { background-color: $secondary-brand-color; }
.t-bg-tertiary { background-color: $tertiary-brand-color; }
.t-bg-light { background-color: $light-grey; }
.t-bg-white { background-color: $white; }
.t-bg-info { background-color: #e4eeff; }

// -------------------------------------------------- //
// Text colors
// -------------------------------------------------- //

.t-text-primary { color: $primary-brand-color; }
.t-text-secondary { color: $secondary-brand-color; }
.t-text-tertiary { color: $tertiary-brand-color; }
.t-text-white { color: $white; }
.t-text-black { color: $black; }