// -------------------------------------------------- //
// Sizes
// -------------------------------------------------- //

.u-text-small { font-size: 0.8125em; }

// -------------------------------------------------- //
// Alignment
// -------------------------------------------------- //

.u-text-center { text-align: center; }

// -------------------------------------------------- //
// Lists
// -------------------------------------------------- //

.u-list-plain {
	list-style: none;
	padding: 0;
}