// Define grid values
$grid-width:   1200px;
$grid-columns: 12;
$grid-gutter:  24px;
$grid-gutter-half: $grid-gutter * 0.5;
$grid-gutter-compensation: $grid-gutter-half * -1;

// Breakpoints
$grid-breakpoints:
	xs $xsmall,
	sm $small,
	md $medium,
	lg $large,
	xl $xlarge;

// A group of grid items
.group {
	display: flex;
	flex-wrap: wrap;
	justify-content: flex-start;

	margin-right: $grid-gutter-compensation;
	margin-left: $grid-gutter-compensation;
}

// Main grid item class
.grid {
	flex: 0 0 auto;
	flex-basis: 100%;
	width: 100%;
	margin-top: $grid-gutter-half;
	margin-bottom: $grid-gutter-half;
	padding-left: $grid-gutter-half;
	padding-right: $grid-gutter-half;
}

[class^="fx-"],
[class*=" fx-"] { display: flex; }

// Helpers
.fx-col { flex-direction: column; }
.fx-reverse { flex-direction: row-reverse; }
.fx-justify { justify-content: space-between; }
.fx-middle { align-items: center; }
.fx-center { justify-content: center; }
.fx-start { justify-content: flex-start; }
.fx-end { justify-content: flex-end; }
.fx-top { align-items: flex-start; }
.fx-bottom { align-items: flex-end; }
.fx-wrap { flex-wrap: wrap; }

@for $i from 1 through $grid-columns {
	.grid-#{$i} {
		flex-basis: 100% / $grid-columns * $i;
		width: 100% / $grid-columns * $i;
	}
}

@each $bp in $grid-breakpoints {
	$name: nth($bp, 1);
	$size: nth($bp, 2);

	@include bp($size) {

		.#{$name}\:grid {
			@for $i from 1 through $grid-columns {
				&-#{$i} {
					flex-basis: 100% / $grid-columns * $i;
					width: 100% / $grid-columns * $i;
				}
			}
		}

		.#{$name}\:fx { display: flex; }
		.#{$name}\:fx-col { flex-direction: column; }
		.#{$name}\:fx-reverse { flex-direction: row-reverse; }
		.#{$name}\:fx-justify { justify-content: space-between; }
		.#{$name}\:fx-middle { align-items: center; }
		.#{$name}\:fx-center { justify-content: center; }
		.#{$name}\:fx-start { justify-content: flex-start; }
		.#{$name}\:fx-end { justify-content: flex-end; }
		.#{$name}\:fx-top { align-items: flex-start; }
		.#{$name}\:fx-bottom { align-items: flex-end; }
		.#{$name}\:fx-wrap { flex-wrap: wrap; }

	}
}