html {
	font-size: 16px;
}

body {
	color: $base-text-color;
	font: {
		family: $body-font;
		size: 100%;
	}
	line-height: $base-line-height;
	-webkit-font-smoothing: antialiased;
}

// -------------------------------------------------- //
// Headings
// -------------------------------------------------- //

// Global
h1,h2,h3,h4,h5,h6 {
	margin-top: 0;
	font: {
		family: $heading-font;
		weight: $heading-font-weight;
	}
}

h1 {
	@include font-size(32);

	line-height: 1.125;

	// @include bp($medium) {
	// 	@include font-size();
	// }

	// @include bp($large) {
	// 	@include font-size();
	// }

	// @include bp($site-width) {
	// 	@include font-size();
	// }
}

h2 {
	@include font-size(28);

	line-height: 1.125;

	// @include bp($medium) {
	// 	@include font-size();
	// }

	// @include bp($large) {
	// 	@include font-size();
	// }

	// @include bp($site-width) {
	// 	@include font-size();
	// }
}

h3 {
	@include font-size(24);

	line-height: 1.2;

	// @include bp($medium) {
	// 	@include font-size();
	// }

	// @include bp($large) {
	// 	@include font-size();
	// }

	// @include bp($site-width) {
	// 	@include font-size();
	// }
}

h4 {
	@include font-size(20);

	line-height: 1.25;

	// @include bp($medium) {
	// 	@include font-size();
	// }

	// @include bp($large) {
	// 	@include font-size();
	// }

	// @include bp($site-width) {
	// 	@include font-size();
	// }
}

h5 {
	@include font-size(18);

	line-height: 1.4;

	// @include bp($medium) {
	// 	@include font-size();
	// }

	// @include bp($large) {
	// 	@include font-size();
	// }

	// @include bp($site-width) {
	// 	@include font-size(20);
	// }
}

h6 {
	@include font-size(16);

	// @include bp($medium) {
	// 	@include font-size(14);
	// }

	// @include bp($large) {
	// 	@include font-size(16);
	// }

	// @include bp($site-width) {
	// 	@include font-size(18);
	// }
}

// -------------------------------------------------- //
// Paragraphs
// -------------------------------------------------- //

p.lead {
	@include font-size(18);

	color: $secondary-brand-color;
	font: {
		family: $heading-font;
		weight: $heading-font-weight;
	}
}

// -------------------------------------------------- //
// Links
// -------------------------------------------------- //

a {
	color: $link-color;
	font-weight: $link-font-weight;
	text-decoration: underline;

	&:hover {
		color: $link-hover-color;
		transition: all 300ms ease;
	}
}

// -------------------------------------------------- //
// Blockquotes
// -------------------------------------------------- //

blockquote {
	margin-left: 5%;
	margin-right: 5%;

	p {
		font: {
			style: italic;
		}
	}

	cite {
		font: {
 			weight: $body-font-bold;
 			style: normal;
		}
	}
}