html {
	font-size: 16px;
}

body {
	color: $base-text-color;
	font: {
		family: $body-font;
		size: 100%;
	}
	line-height: $base-line-height;
	-webkit-font-smoothing: antialiased;
}

// -------------------------------------------------- //
// Headings
// -------------------------------------------------- //

// Global
h1,h2,h3,h4,h5,h6 {
	margin-top: 0;
	margin-bottom: 1em;
	color: $heading-color;
	font: {
		family: $heading-font;
		weight: $heading-font-weight;
	}
}

h1 {
	@include fluid-type(320, 1200, 24, 32);

	line-height: 1.125;
}

h2 {
	@include fluid-type(320, 1200, 22, 28);

	line-height: 1.125;
}

h3 {
	@include fluid-type(320, 1200, 20, 24);

	line-height: 1.2;
}

h4 {
	@include fluid-type(320, 1200, 18, 20);

	line-height: 1.25;
}

h5 {
	@include fluid-type(320, 1200, 17, 18);

	line-height: 1.4;
}

h6 {
	@include fluid-type(320, 1200, 14, 16);
}

// -------------------------------------------------- //
// Paragraphs
// -------------------------------------------------- //

p {
	margin-top: 0;
}

.lead {
	@include font-size(18);

	color: $secondary-brand-color;
	font: {
		family: $heading-font;
		weight: $heading-font-weight;
	}
}

// -------------------------------------------------- //
// Links
// -------------------------------------------------- //

a {
	color: $link-color;
	font-weight: $link-font-weight;
	text-decoration: none;

	&:hover {
		color: $link-hover-color;
		transition: all 300ms ease;
	}
}

// -------------------------------------------------- //
// Blockquotes
// -------------------------------------------------- //

blockquote {
	margin-left: 5%;
	margin-right: 5%;

	p {
		font-style: italic;
	}

	cite {
		font: {
 			weight: $body-font-bold;
 			style: normal;
		}
	}
}